

set_io r_out[0] 91 //for vga
set_io r_out[1] 95 //for vga
set_io r_out[2] 96 //for vga

set_io b_out[0] 87 //for vga
set_io b_out[1] 88 //for vga
set_io b_out[2] 90 //for vga

set_io g_out[0] 75 //for vga
set_io g_out[1] 74 //for vga
set_io g_out[2] 73 //for vga

set_io v_sync 97 //for vga
set_io h_sync 76 //for vga


set_io reset 66
set_io clk_in 49
set_io b_in 58


set_io rpi_pixel_clock 52
set_io rpi_DEN 63
